page-politica-privacidade {


    .button-full.button-outline {
        border-radius: 0;
        border-right-width: 1px;
        border-left-width: 1px;
    }

    .politic-button{
        height: 4.7rem !important;
        border-radius: 7px !important;
        border: 1.18px solid #009b89;
        padding-left: 56px;
    }
    .item-md.item-block .item-inner {
        border-bottom: 0 !important;
        color: #00836D;
        font-size: 1.4rem;
    }
}
