<ion-row margin-top>
  <ion-col col-12 text-center>
    <h2>Informe a Retirada do produto:</h2>
  </ion-col>
  <ion-col col-12>
    <ion-list radio-group>
      <ion-item *ngIf="infoMercado.entrega === 'E'" no-border>
        <ion-label>Entregue no meu endereço</ion-label>
        <ion-radio color="primary" checked="false" value="excluir" (click)="showFormCompraFacil()"></ion-radio>
        <ion-icon item-right name="ios-arrow-forward" class="font-arrow"></ion-icon>
      </ion-item>
      <ion-item *ngIf="infoMercado.entrega === 'R' || infoMercado.entrega === 'E'" no-border>
        <ion-radio color="primary" value="ligar" (click)="showFormdataHora()"></ion-radio>
        <ion-label>Vou buscar na loja</ion-label>
        <ion-icon item-right name="ios-arrow-forward" class="font-arrow"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-col>
  <ion-col col-12>
    <div *ngIf="isEnderecoCompleto" style="padding: 20px">
        <img src="assets/imgs/ok.png" height="100">
      <h2 style="color:#009b89" >Seu endereço foi adicionado com sucesso!</h2>
    </div>
  </ion-col>
  <ion-col col-12>
    <div *ngIf="isDataHorarioPedido" style="padding: 20px">
        <img src="assets/imgs/ok.png" height="100">
      <h2 style="color:#009b89" >horario de entrega foi adicionado com sucesso!</h2>
    </div>
  </ion-col>
</ion-row>