<ion-grid>
  <form novalidate [formGroup]="enderecoForm" (ngSubmit)="SubmitForm()">
    <ion-row>
     <!--  <p class="uppercase-cl">{{pedidoMercado.sacolaMercado.horarioMaximoEntrega}}</p> -->
    </ion-row>
    <ion-row>
      <ion-col col-12 style="width: 100%;">
        <p class="uppercase-cl">Informe os dados gerais:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-item class="bg-transparent size">
          <ion-input type="text" name="nome" style="height: 30px;" formControlName="nome" autocomplete="off"
            placeholder="Nome completo" [value]="nomeCompleto"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item class="bg-transparent size">
          <ion-input type="text" name="cpf" style="height: 30px;" 
          formControlName="cpf" autocomplete="off" placeholder="CPF" [value]="usuarioCPF"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item class="bg-transparent size">
          <ion-input type="tel" name="celular" style="height: 30px;" formControlName="celular" autocomplete="off"
            placeholder="Celular" [brmasker]="{mask:'(00)00000-0000', len:14}" maxlength="14"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item class="bg-transparent size">
          <ion-input type="text" name="endereco" style="height: 30px;" formControlName="endereco" autocomplete="off"
            placeholder="Endereço"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-item class="bg-transparent size">
          <ion-input type="text" name="numero" style="height: 30px;" formControlName="numero" autocomplete="off"
            placeholder="Numero"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-8>
        <ion-item class="bg-transparent size">
          <ion-input type="text" name="complemento" style="height: 30px;" formControlName="complemento" autocomplete="off"
            placeholder="Complemento"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5>
        <ion-item class="bg-transparent size">
          <ion-input type="text" name="bairro" style="height: 30px;" formControlName="bairro" autocomplete="off"
            placeholder="Bairro" [value]="bairro"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-5>
        <ion-item class="bg-transparent size">
          <ion-input type="text" name="cidade" formControlName="cidade" placeholder="Cidade" style="height: 30px;"
            [value]="nomeCidade" disabled></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item class="bg-transparent size">
          <ion-input type="text" name="estado" formControlName="estado" autocomplete="off" style="height: 30px;"
            placeholder="UF" maxlength="2" [value]="nomeEstado" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 text-center margin-top>
        <button ion-button clear class="btn-enviar primary-bg" block color="secondary" [disabled]="!enderecoForm.valid">Salvar</button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>