page-login {

        
    .bg-transparent{
        background: transparent;
    }

    .size{
        font-size: 0.85em !important;
        font-weight:500; 
        width: 95%;
        margin: 0 auto !important;
        padding: 0 !important;
    }
}
