<ion-header no-border>
  <ion-navbar color="secondary">
    <ion-title text-center>
      <div *ngIf="possuiMercadoNome ; else maisBarato" class="title-mercado">
          <span>{{mercadoDetalhe.nomeMercado}}</span>
        <bdo rlt="bottom">
          <p>{{mercadoDetalhe.nomeCategoria}}</p>
        </bdo>
      </div>
      <ng-template #maisBarato>
        <span>MAIS BARATOS</span>
        <bdo dir="rtl">
          <p>{{categoriaNome}}</p>
        </bdo>
      </ng-template>

    </ion-title>

    <ion-buttons end>
      <button ion-button class="back-button-md" (click)="onSearch()">
        <ion-icon class="search-icon" name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!-- Lista das subcategorias por mercado -->
<ion-content class="gray-bg">
  <ion-toolbar style="min-height:30px !important;">
    <div class="barsubprodutos">
      <!-- Todas subcategorias -->
      <ion-scroll scrollX="true" class="menu-2" *ngIf="!possuiMercadoNome">
        <ion-segment scrollX="true" class="segment" color="primary" [(ngModel)]="subcategoriaNome">
          <ion-segment-button value="Todos" class="segment-button" (click)="onTodosProdutos()">
            Todos
          </ion-segment-button>
          <ion-segment-button *ngFor="let sub of subcategorias" (click)="onSubCategoria(sub.nome)" value="{{sub.nome}}">
            {{sub.nome}}
          </ion-segment-button>
        </ion-segment>
      </ion-scroll>
      <!-- Mercado subcategorias -->
      <ion-scroll scrollX="true" class="menu-2" *ngIf="possuiMercadoNome">
        <ion-segment scrollX="true" class="segment" color="primary" [(ngModel)]="subcategoriaNome">
          <ion-segment-button value="Todos" class="segment-button" (click)="onTodosProdutos()">
            Todos
          </ion-segment-button>
          <ion-segment-button *ngFor="let sub of mercadoSubCategoria" (click)="onSubCategoria(sub.nomeSubcategoria)"
            value="{{sub.nomeSubcategoria}}">
            {{sub.nomeSubcategoria}}
          </ion-segment-button>
        </ion-segment>
      </ion-scroll>
    </div>
  </ion-toolbar>

  <ion-list class="list-full-border" *ngIf="subcategoriaNome === 'Todos' && produtos">
    <!-- Exemplo de produto -->
    <produto-item [produto-itens]="produtos" [nomeCategoria]="categoriaNome" [possuiMercadoNome]="possuiMercadoNome">
    </produto-item>
    <!-- Exemplo de produto -->
  </ion-list>

  <ion-list class="list-full-border" *ngIf="subcategoriaNome !== 'Todos' && filterProdutos">
    <!-- Exemplo de produto -->
    <produto-item [produto-itens]="filterProdutos" [possuiMercadoNome]="possuiMercadoNome"></produto-item>
    <!-- Exemplo de produto -->
  </ion-list>
</ion-content>