page-subcategoria {

    h2{
        font-weight: 500 !important;
        font-size:0.95em !important;
    }
    h3{
        font-size: 0.85em !important;
        font-weight: 500 !important;
    }
    h4{
        font-size: 0.7em !important;
        font-weight: 500 !important;
    }

    p{
        font-size:0.75em !important;
    }

    .barsubprodutos{
        margin-top: -11px;
        padding: 0;
    }
}
