<div *ngFor="let item of items">
    
    <ion-list style="margin-top:-16px">
        <ion-item class="card">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col col-3>
                        <ion-thumbnail>
                            <img class="thumb-image"  src="{{item.produto.imagemUrl}}" alt="" />
                        </ion-thumbnail>
                    </ion-col>
                    <ion-col col-5  class="col-card-meio" >
                        <h2  style="white-space: pre-wrap;" ion-text>{{item.produto.nomeProduto}} {{item.produto.marcaProduto}} {{item.produto.caracteristicaProduto}} {{item.produto.quantidadeProduto }} {{item.produto.unidadeMedida}}</h2>
                        <ion-row  style="margin-top: 45px;margin-left: -5px">
                            <ion-col col-6>
                                <h2 ion-text>{{item.produto.precoMercadoProduto | currency:'BRL'}}</h2>
                            </ion-col>
                            <ion-col col-6>
                                <span ion-text color="primary"  style="font-size: 0.85em;margin-left: 0px;">{{setSomaValor(item) | currency:'BRL' }}</span>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col col-4 class="col-card-fim">
                        <div class="pull-right">
                            <p style=" font-size:0.70em !important;  margin-right:2px;">Válido até: 
                                {{item.produto.dtValidadeMercadoProduto  | dateFormat}}</p>
                            <p style=" font-size:0.60em !important; text-align: end">ou até durar o estoque</p>
                        </div>
                        <div style="margin-top:41px;">
                            <btn-qnt-produto
                            [nomePage]="'Sacola'" 
                            [itemFound]="item"
                             (add)="aumentaQnt(item)"
                             (sub)="diminuiQnt(item)"></btn-qnt-produto>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item  class="card">
            <div item-left>
            <img src="assets/icon/supermercado-produto.svg" alt="">
            </div>
            <div class="pull-left">
                <p>Visitar a página do {{item.produto.nomeFantasiaMercado}}</p>    
            </div>
        </ion-item>
    </ion-list>
</div>