<ion-header>

  <ion-navbar color="secondary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Compre Certo</ion-title>
    <ion-buttons end >
      <button ion-button  class="back-button-md" (click)="onSearch()">
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>

<ion-content class=" gray-bg" >
    <ion-scroll scrollX="true" class="menu-2" >
        <ul >
          <a><li class="active" >Mais baratos</li></a> 
          <a><li *ngFor="let mercado of mercados">{{mercado.nomeFantasia}}</li></a> 
        </ul> 
    </ion-scroll>

  <ion-list  class="card-background-page">
      <ion-card class="card" *ngFor="let categoria of categorias" (click)="onSubCategoria(categoria)">
          <!-- <img [src]="categoria.imagem"/> -->
          <p>{{categoria.nome}}</p>
          
        </ion-card>
  </ion-list>
 
</ion-content>

