page-home {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          box-sizing: inherit;
          max-height: 140px;
          
          
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 1.6em;
          width: 100%;
          font-weight: 700;
          font-family: 'Roboto';
          color:#f8f8f8;
          letter-spacing: 0.15em;
          
          text-shadow: 0px 5px 10px rgba(25, 25, 25, 1);
        }

      }

    
      
}
