page-home {
  .card-md {
    margin: 0 !important; 
    border-radius: 2px;
    width: calc(100%) ;
  }

  .card-ios{
    margin: 0 !important; 
    border-radius: 2px;
    width: calc(100%) ;
  }

  .toolbar-content-md .md-tittle{
    margin-top:5px; padding-left:35px
  }
  .font-arrow{
    color:#fff;
    width: 90%;
  }
}
