<ion-header no-border>

  <ion-navbar color="secondary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center style="margin-top:5px; padding-left:35px "><img src="assets/icon/LogoSheapBranca-03.svg" height="50" alt="">
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="onCompraFacil()" class="back-button-md" >
        <img src="assets/imgs/Easy-Buy-08.svg" height="20px" class="search-icon  pull-icon">
      </button>
      <button ion-button class="back-button-md" (click)="onSearch()">
        <ion-icon class="search-icon" name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="gray-bg">
  <ion-scroll scrollX="true" class="menu-2">
    <ul>
      <a (click)="onMaisBarato('BARATOS')">
        <li class="active">Mais Baratos</li>
      </a>
      <a *ngFor="let mercado of mercados" (click)="onMercados(mercado)">
        <li>{{mercado.nomeFantasia}}</li>
      </a>
    </ul>
  </ion-scroll>

  <ion-list class="card-background-page" no-padding no-margin>
    <ion-card class="card" *ngFor="let categoria of categorias" (click)="onSubCategoria(categoria)">
      <img src="{{bucketS3}}/cat{{categoria.idCategoria}}.svg" />
    </ion-card>
  </ion-list>

</ion-content>