<ion-header>

  <ion-navbar color="secondary">

    <ion-item class="item-search">
      <ion-input class="text-type" floating type="text" placeholder="Pesquisar" (input)="changeInput()"
        [(ngModel)]="searchTerm"></ion-input>
    </ion-item>
    <ion-buttons end>
      <button ion-button class="back-button-md" (click)="filtrarProduto()" style="margin-right:-10px">
        <ion-icon class="search-icon" name="ios-search-outline"></ion-icon>
      </button>
      <button ion-button class="back-button-md" (click)="filtrarMercado()">
        <ion-icon class="search-icon" [name]="nameIcon" style="color:#fff"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="gray-bg">
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-list *ngIf="filterProdutosUnico && searchTerm">
      <produto-item [produto-itens]="filterProdutosUnico" [possuiMercadoNome]="possuiMercadoNome">
      </produto-item>
      <div text-center class="secondary-bg" *ngIf="filterProdutos.length !==0" style="margin-bottom: -13px; margin-top: -13px;">
        <p style="color:#fff; font-size:0.98em !important;"><small>Produtos sugeridos</small></p>
      </div>
      <produto-item [produto-itens]="filterProdutos" [possuiMercadoNome]="possuiMercadoNome">
      </produto-item>



    </ion-list>
  </ion-infinite-scroll>

</ion-content>