<ion-header>

  <ion-navbar color="secondary">

    <ion-item class="item-search">
      <ion-input class="text-type" floating type="text" placeholder="Pesquisar" (input)="changeInput()"
        [(ngModel)]="searchTerm"></ion-input>
    </ion-item>
    <ion-buttons end>
      <button ion-button class="back-button-md" (click)="filtrarProduto()">
        <ion-icon class="search-icon" name="ios-funnel-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content margin-top class="gray-bg" style="margin-top:-10px ;height: 102% !important;" >


  <ion-list *ngIf="filterProdutos && searchTerm">
    <div text-center class="secondary-bg" *ngIf="filterProdutos.length !==0" style="margin-bottom: -13px;">
      <p style="color:#fff; font-size:0.98em !important;"><small>Produtos sugeridos</small></p>
    </div>
    <produto-item [produto-itens]="filterProdutos" [possuiMercadoNome]="possuiMercadoNome">
    </produto-item>
  </ion-list>

  <ion-grid no-padding>
      <ion-row *ngIf="!filterProdutos">
        <ion-col col-12 text-center style="margin-top:150px;">
          <img src="assets/imgs/icone-de-erro.svg" alt="" height="200">
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>