
.info-text{
    white-space: pre-wrap;
    text-transform: capitalize;
    
}

.item-md {
    padding-left: 5px !important;
}

.desc_prod{
    margin-left: -4px;
    position: fixed;
    bottom: 10px;
    
}