<div *ngFor="let produto of produtos">
    <ion-item class="card">
        <ion-grid no-padding>
            <ion-row>
                <ion-col col-3>
                    <ion-thumbnail>
                        <img class="thumb-image" height="100"
                        src="{{bucketS3}}/prod{{produto.idProduto}}.jpg" alt="" />
                    </ion-thumbnail>
                </ion-col>
                <ion-col col-6 style="margin-top:5px">
                    <h2 ion-text style="white-space: pre-wrap;">{{produto.nomeProduto}} {{produto.marcaProduto}} {{produto.caracteristicaProduto}} {{produto.quantidadeProduto}} {{produto.unidadeMedida}}</h2>
                    
                    <ion-row style="margin-top:40px;">
                        <ion-col col-6>
                            <h3 ion-text>{{produto.precoMercadoProduto | currency:'BRL' }}</h3>
                        </ion-col>
                        <ion-col col-6>
                            <span ion-text color="primary" style="font-size: 0.85em;margin-left: -13px;">{{setSomaValor(produto) | currency:'BRL'  }}</span>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-3 style="margin-top:8px; ">
                    <div class="pull-right">
                        <p style=" font-size:0.80em !important; margin-right:2px;">{{produto.dtValidadeMercadoProduto  | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div style="margin-top:51px;">
                        <!-- Se o produto não estiver no carrinho -->
                        <div *ngIf="!verificaProdutoNoCarrinho(produto)">
                            <button ion-button 
                                    class="pull-right btn-sacola" 
                                    (click)="addCarrinho(produto)">
                                Adicionar à sacola
                            </button>
                        </div>
                        <!--fechar -->
                      <!-- Quando o produto estiver no carrinho -->  
                        <div *ngIf="verificaProdutoNoCarrinho(produto)" class="pull-right">
                            <btn-qnt-produto  
                                [nomePage]="'Produtos'"
                                [itemFound]="foundItem" 
                                (add)="aumentaQnt(produto)"
                                (sub)="diminuiQnt(produto)"></btn-qnt-produto>
                        </div>
                        <!-- Fechar -->
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <!-- Exemplo de mercado por produto -->
    <ion-item *ngIf="!possuiMercadoNome">
        <div item-left>
            <p>{{produto.nomeFantasiaMercado}}</p>
        </div>
        <div class="pull-right">
            <img src="assets/icon/supermercado-produto.svg" alt="">
        </div>
    </ion-item>
</div>