<div class="popover-comprafacil">
  <p>Toda a responsabilidade sobre a negociação da forma de pagamento,
    disponibilidade de entrega e dados coletados para realizar a compra,
    fica a cargo dos usuários e anunciantes. </p>
  <p>
    O Sheap se compromete somente como intermediário de informação dos produtos
    trocados entre consumidor e anunciante.
  </p>
  <p>

    Quaisquer problema entre em contato
    com a nossa equipe de atendimento por e-mail: <b style="color:#00836D">faq@sheap.com.br</b>
  </p>

</div>