<ion-header>
  <ion-navbar color="secondary">
    <ion-title class="md-menu-title">Meus Pedidos</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button (click)="onCompraFacil()" class="back-button-md">
        <img src="assets/imgs/Easy-Buy-08.svg" height="20px" class="search-icon  pull-icon">
      </button>

      <button ion-button (click)="onSearch()" class="back-button-md">
        <ion-icon class="search-icon" name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cart">
  <ion-list class="list-full-border">
    <ion-card class="card-no-shadow card-sheap-buy" *ngFor="let pedido of pedidos">
      <ion-grid style="padding:0 !important">
        <ion-row>
          <ion-col col-7 style="margin-top:-5px;">
            <img src="assets/imgs/icon-suporte.svg" alt="" height="15" style="margin-left: 50px;"
              (click)="onSuporte(pedido)" />
            <p class="cl-data text-inline" (click)="onSuporte(pedido)">Suporte</p>
          </ion-col>

          <ion-col col-5 style="margin-left:-12px; " *ngIf="pedido.status !== 'N'">
            <p class="cl-data" style="margin-top:-4px">Número do pedido: <span></span>#{{pedido.idPedido}}
            </p>
          </ion-col>
          <ion-col col-4 style="margin-top:0px;  " *ngIf="pedido.status === 'N'">
            <p class="cl-data" style="margin-top:-4px ;margin-right: -12px;">Número do pedido:
              <span></span>#{{pedido.idPedido}}
            </p>
          </ion-col>

          <ion-col col-1 style="margin-top:-5px; padding-left: 11px;" *ngIf="pedido.status === 'N'">
            <ion-icon style="color: red; font-size: 15px;" name="information-circle" (click)="onSaibaMais()">
            </ion-icon>
          </ion-col>
        </ion-row>

        <ion-row style="margin-top:10px;">
          <ion-col col-3>
            <ion-thumbnail>
              <img class="thumb-image-compra-sacola" [src]="pedido.mercadoLocalidade.imagemUrl" alt="" height="20" />
            </ion-thumbnail>
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-2 style="margin-left: -5px" no-padding>
                <img src="assets/icon/prancheta.svg" height="15" alt="" style="margin-top: -2px">
                <img src="assets/icon/Calculadora-08.svg" height="15" alt="" style="margin-top: 8px">

                <img src="assets/imgs/Icon-entrega.svg" height="18" alt="" style="margin-top: 6px"
                  *ngIf="pedido.entrega === 'E'">

                <img src="assets/imgs/Icon-Retirada.svg" height="15" alt="" style="margin-top: 6px"
                  *ngIf="pedido.entrega ==='R'">

                <ion-icon item-left name="ios-pin-outline" class="font-icon"></ion-icon>

              </ion-col>
              <ion-col col-10 text-left style="margin-left: -10px">
                <p ion-text class="main-text" style="margin-top:-4px;">Produtos: <span
                    style="color: #00836D">{{setQtdPedido(pedido)}}</span></p>
                <p ion-text class="main-text" style="margin-top:10px;">Valor Total: <span
                    style="color: #00836D">{{setValorTotalPedido(pedido) | currency:'BRL'}}</span> </p>

                <p ion-text class="main-text" style="margin-top:9px;" *ngIf="pedido.entrega === 'E'">Entrega pelo
                  supermercado</p>
                <p ion-text class="main-text" style="margin-top:7px;" *ngIf="pedido.entrega ==='R'">
                  Retirada no supermercado</p>

                <p ion-text class="main-text" style="margin-top:7px;" *ngIf="pedido.entrega ==='R'">
                  {{pedido.mercadoLocalidade.endereco}}</p>
                <p ion-text class="main-text" style="margin-top:7px;" *ngIf="pedido.entrega ==='E'">
                  {{endereco}}{{numero}}/{{complemento}}</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- SEQUENCIA DO PEDIDO ENTREGA -->
        <ion-row *ngIf="pedido.entrega === 'E' && pedido.status !== 'N'">
          <ion-col col-12 text-left padding>
            <h2 style="font-size: 1.25rem">Status:</h2>
          </ion-col>
          <ion-col col-12 style="margin-top:-10px; margin-bottom:10px;" text-center>
            <ul class="progressbar" *ngIf="pedido.status !== 'L'">
              <li [class.active]="pedido.status ==='A' || 
              pedido.status ==='S' || pedido.status ==='T' || pedido.status ==='E'">Aprovado</li>
              <li [class.active]="pedido.status ==='S' || 
              pedido.status ==='T' || pedido.status ==='E'">Em Separação</li>
              <li [class.active]="pedido.status ==='T' || pedido.status ==='E'">Em Transporte
              </li>
              <li [class.active]="pedido.status ==='E'">Entregue</li>
            </ul>
            <div *ngIf="pedido.status === 'L'">
              <h2 class="h2-pedido-aguarde">Aguarde a aprovação do seu pedido</h2>
            </div>
          </ion-col>
        </ion-row>
        <!-- SEQUENCIA DO PEDIDO RETIRADA -->
        <ion-row *ngIf="pedido.entrega === 'R' && pedido.status !== 'N'">
          <ion-col col-12 padding>
            <h2 style="font-size: 1.25rem">Status:</h2>
          </ion-col>
          <ion-col col-12 style="margin-top:-10px; margin-bottom:10px;" text-center>
            <ul class="progressbar" *ngIf="pedido.status !== 'L'">
              <li [class.active]="pedido.status ==='A' || 
                                  pedido.status ==='S' || 
                                  pedido.status ==='R' || 
                                  pedido.status ==='F'">Aprovado</li>

              <li [class.active]="pedido.status ==='S' || 
                                  pedido.status ==='R' || pedido.status ==='F'">Em Separação</li>

              <li [class.active]="pedido.status ==='R' || 
                                  pedido.status ==='F'">Aguardando retirada
              </li>
              <li [class.active]="pedido.status ==='F'">Finalizado</li>
            </ul>
            <div *ngIf="pedido.status === 'L'">
              <h2 class="h2-pedido-aguarde">Aguarde a aprovação do seu pedido</h2>
            </div>

          </ion-col>
        </ion-row>
        <!-- PEDIDO NEGADO -->
        <ion-row *ngIf="pedido.status === 'N'">
          <ion-col col-12 text-left padding>
            <h2 style="font-size: 1.25rem">Status:</h2>
          </ion-col>
          <ion-col col-12 style="margin-top:-10px; margin-bottom:10px;" text-center>
            <h2 class="h2-pedido-recusado">Seu pedido foi negado.
              <a class="btn-saiba-mais" (click)="onSaibaMais()">Saiba mais</a>
            </h2>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>