<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center style="margin-right:-50px;">Minha Sacola</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onCompraFacil()" class="back-button-md">
        <img src="assets/imgs/Easy-Buy-08.svg" height="20px" style="margin-right:-50px;" class="search-icon" name="logo-whatsapp">
      </button>

      <button ion-button (click)="onSearch()" class="back-button-md">
        <ion-icon class="search-icon" name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- Lista dos produtos separados por mercado e categorias -->
<ion-content class="cart gray-bg" style="margin-top:-14px">
  <div *ngIf="produtos">
    <div *ngFor="let cat of categorias">
      <div text-center class="secondary-bg">
        <p style="color:#fff; font-size:0.98em !important;"><small>{{cat}}</small></p>
      </div>
      <sacola-item [items]="produtos" [categoria]="cat"></sacola-item>
    </div>
  </div>
</ion-content>
<!--Footer button-->
<ion-footer class="cart-footer">
  <ion-item style="max-height:20px;">
    <div item-left>
      <h2>Valor Total</h2>
    </div>
    <div class="pull-right">
      <span ion-text style="font-size:15px; ">{{total() | currency:'BRL' }}</span>
    </div>
  </ion-item>
</ion-footer>