// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// import pages css

// end import pages css

// global styles

.primary-bg {
    background-color: color($colors, secondary);
  }
  
  .secondary-bg {
    background-color: color($colors,favorite );
  }
  
  .gray-bg {
    background-color: color($colors, gray);
  }
  
  .light-bg {
    background-color: color($colors, light);
  }

  .remove-bg {
    background-color: color($colors, danger);
  }
  
  
  .padding-xs {
    padding: 10px;
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  
  .rlt {
    position: relative;
  }
  
  .clear {
    clear: both;
  }
  
  .round {
    border-radius: 3px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  // text size
  .text-2x {
    font-size: 2em;
  }
  
  .text-1x {
    font-size: 1em;
  }
  
  .text-sm {
    font-size: 0.7em;
  }
  .padding-nav{
    padding-bottom: 6px;
    padding-top:6px; 
  }
  // profile picture style
  img.profile-picture {
    width: 7em;
    height: 7em;
    margin-top: 0.75em;
    border-radius: 50%;
  }
  
  // card style
  .card {
    height:100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  // list style
  .list-no-border {
  
    .item:first-child {
      border: none;
    }
    .item:last-child {
      border: none;
    }
  
    .item-inner {
      border: none;
    }
  }
  
  .list-full-border {
    @extend .list-no-border;
  
    .item,
    .item:first-child,
    .item:last-child {
      border-bottom: 1px solid color($colors, border-color);
  
      .item-inner {
        border: none;
      }
    }
  }
  
  .list-ios[no-margin],
  .list-md[no-margin],
  .list-wp[no-margin] {
    margin: 0;
  }
  
  .list-ios[margin],
  .list-md[margin],
  .list-wp[margin] {
    margin: 16px;
  }
  
  // item style
  .item.no-border {
  
    .item-inner {
      border: none;
    }
  }
  
  // style for auth pages
  .auth-bg {
    background: url("../assets/imgs/LoginCompreCertoapp-08.jpg") no-repeat center;
    background-size: 100% 100%;
  
    .scroll-content {
      justify-content: center;
  
      .login-content {
        height: 100%;
  
        .list-form {
          padding: 0;
          margin-bottom: 0;
  
          ion-item {
            background: none;
            padding: 0;
  
            &:first-child {
              border-top: none;
            }
  
            &:after {
              display: none;
            }
  
            ion-label {
              font-size: 1em;
              color: color($colors, light);
            }
  
            input {
              color: color($colors, light);
            }
          }
        }
      }
    }
  }
  
  // list items style
  .list-items {
    .item-menu {
      position: relative;
  
      img {
        display: block;
        width: 100%;
        height: auto;
      }
  
      .overlay {
        bottom: 0;
        padding: 10px;
        position: absolute;
        width: 100%;
        font-size: 1.5em;
        background: rgba(0, 0, 0, 0.7);
      }
    }
  }

  // cart button group
  .item-button-group {
    border-bottom: 1px solid color($colors, border-color);
  
    button {
      margin: 0;
      border-radius: 0;
  
      .text-2x {
        font-size: 2em;
      }
    }
  }
  
  .shadow-row{
    background-color: rgba(32, 32, 32, 0.1);
    border-radius:20px; 
    height: 20px;
    width:101px;   
}

  .button-qty{ 
    font-size: 12px;
    
    border-radius: 20px;
    height: 20px;
    padding: 6px;
  }
  // user profile
  .profile-cover {
    padding-top: 1em;
    min-height: 260px;
    background: url("../assets/img/bg.jpg") no-repeat center;
    background-size: 100% auto;
  
    .profile-picture {
      width: 80px;
      height: 80px;
    }
  }
  
  // input style
  ion-label[stacked] {
    font-size: 1.6rem;
  }
  
  // fix slider bug
  ion-slides[pager] {
  
    .swiper-pagination {
      display: block !important;
    }
  }
  
  .swiper-pagination-bullet {
    background: color($colors, light)
  }

  .btn-sacola{
    width: 102px;
    margin-top:26px;
    font-size:9px !important;
    border-radius: 5px;
    height: 20px !important;
    
}

  .btn-sacola-remove{
    width: 101px;
    max-height: 20px !important;
    font-size: 9px !important;
    border-radius: 5px;
    padding: 10px !important;
    background-color: color($colors, danger);
  }

  .thumb-image{
    margin-top:10px;
    margin-left:-26px;
    height: 95px !important;
    min-width: 105px !important;
}

.thumb-image-compra-sacola{
  height: 100px !important;
  min-width: 95px !important;
  border-radius: 50%;
  margin-top:-5px;
  border:1px solid #eee;
}

//Segundo menu
.menu-2{
  height: 32px;
  width: 100%;
  background-color: color($colors, secondary);  
  margin-top: 0px;  

  .segment{
    display: block;
	  overflow-x: scroll;
    white-space: nowrap;
    
    .segment-button{
      color:#f8f8f8;
      font-size: 0.85em;
      display: inline;
      padding: 3px 8px; 
    }

  }
  .segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
    border-color: #e9e3e3  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li {
    color:#f8f8f8;
    font-size: 0.78em;
    display: inline;
    padding: 7px 10px;
    
}
li.active{
  border-bottom: 3px solid #f8f8f8;
  }
}
.toolbar-ios .segment-ios {
   top: 5px !important;
}
//fim menu 2

button{
  font-size: 13px !important;
  font-weight: 400 !important;  
}

 //ALERTS
ion-alert {
  &.alert-warning {
    .alert-head {
      background: map-get($colors, warning);
      color: #fff;
      margin-bottom: 10px;
    }
  }
  &.alert-danger {
    .alert-head {
      background: map-get($colors, danger);
      color: #fff;
      margin-bottom: 10px;
    }
  }
  &.alert-success {
    .alert-head {
      padding: 14px 14px 10px;      
      color: map-get($colors, dark) ;
      
    }
    .alert-title{
      font-size: 0.8em;
      font-weight: 500;
    }
  }

}

.popover-ios .popover-content{
  top: 50px !important;
}

.custom-popover .popover-content{
  top: 57.5px !important;
  left: 0px !important;
  transform-origin: right top !important;
  transform: scale(1);
}

.compra-facil .popover-content{
   top: 60px !important;
   width: 300px !important;
   border-radius: 30px;
   border-top-right-radius:0 !important; 
    padding: 1px;
    transform-origin: right top !important;
    transform: scale(1);  
}

.form-compra-facil .popover-content{
  top: 160px !important;
  width: 300px !important;
  border-radius: 20px;
  min-height: 150px;
  padding: 1px;
  transform-origin: right top !important;
  transform: scale(1);  
}

.popover-md{ 
  ion-backdrop
  {
  	opacity: 0.4;
  }
}

.popover-ios{
  ion-backdrop
  {
  	opacity: 0.4 !important;
  }
  .select-ios {
    height: 18px;
  }
  .select-ios .select-icon {
    display: none;
  }
}




.toolbar-md{
  padding: 0 !important;
  min-height: 60px !important;

}

.search-icon{
  font-size: 1.5em;
  font-weight: 700;
}

.toolbar-ios {
  padding: 0 !important;
  min-height: 60px;
}

.cart-footer ion-item{
  background: map-get($colors, secondary) !important;
  color: #fff
}





