page-detalhe-pedido {

    .img-center{
        margin: 0 auto;
    }

    .side-produto{
        margin-bottom: -20px;
        font-size: 1.20rem; 
    }

    .border-type{
        border-bottom: 1px solid #eee; 
        max-width: 90%;
    }
    .subtitle{
        text-align: left;
        font-size: 1.25rem;
        margin-bottom: 0px;
    }
    .padding-left-column{
        padding-left: 25px;  
        padding-right: 15px;
    }

    .close-position{
        text-align: end;
        font-size: 20px;
    }

    .text-inline{
        margin-top:0px;
        line-height: 1.5em;
    }

}
