<ion-content padding>
  <ion-row>
    <ion-col col-12 class="close-position">
      <ion-icon name="close" (click)="onClose()"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 margin-top>
      <ion-thumbnail>
        <img class="thumb-image-finalizacao img-center" [src]="infoMercado.imagemMercado" alt="" height="20" />
      </ion-thumbnail>
    </ion-col>
  </ion-row>
  <ion-row margin-top>
    <ion-col col-12 class="border-type img-center">
      <h2 class="subtitle">Informações de Compra</h2>
    </ion-col>
  </ion-row>
  <ion-grid *ngFor="let produto of produtos ; index as i" class="grid-tabel" margin-top>
    <ion-row class="rowx">
      <ion-col class="coly" col-4>Nome</ion-col>
      <ion-col class="colx" col-8> {{getProdutoToCaptalized(produto.produto.nomeProduto)}}</ion-col>
    </ion-row>
    <ion-row class="rowx">
      <ion-col class="coly" col-4>Marca</ion-col>
      <ion-col class="colx" col-8>{{getProdutoToCaptalized(produto.produto.marcaProduto)}}</ion-col>
    </ion-row>
    <ion-row class="rowx">
      <ion-col class="coly" col-4 *ngIf="produto.produto.caracteristicaProduto">Caracteristica</ion-col>
      <ion-col class="colx" col-8 *ngIf="produto.produto.caracteristicaProduto">
        {{getProdutoToCaptalized(produto.produto.caracteristicaProduto)}}</ion-col>
    </ion-row>
    <ion-row class="rowx">
      <ion-col class="coly" col-4>Peso</ion-col>
      <ion-col class="colx" col-8>{{produto.produto.quantidadeProduto}} {{produto.produto.unidadeMedida}}</ion-col>
    </ion-row>
    <ion-row class="rowx">
      <ion-col class="coly" col-4>Quantidade</ion-col>
      <ion-col class="colx" col-8>{{produto.quantidade}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>