<button ion-button class="pull-right btn-sacola-remove" (click)="RemoveProdutoCarrinho(produto)">
    Remover da Sacola
</button>
<ion-row class="pull-right shadow-row">
    <ion-col col-5 class="pull-left" style=" top:-9px; left: -15px">
        <button ion-button color="danger" class="button-qty pull-right" (click)="emitSubEvent(produto)">
            <ion-icon name="remove"></ion-icon>
        </button>
    </ion-col>
    <ion-col col-2 text-center style="top:-2px; right:2px">
        <p style="font-size:0.75em;">
            {{itemFound ? itemFound.quantidade : 1}}</p>
    </ion-col>
    <ion-col col-5 class="pull-right" style="top:-9px; right: -6px">
        <button ion-button color="primary" (click)="emitAddevent(produto)" class="button-qty pull-right">
            <ion-icon name="add"></ion-icon>

        </button>
    </ion-col>
</ion-row>