form-compra-facil-popover {

    .bg-transparent{
        background: transparent;
    }

    .size{
        font-size: 0.85em !important;
        font-weight:500; 
        color:#1F1F1F;
        width: 95%;
        margin: -20px auto 0 auto !important;
        padding: 0 !important;
    }
    .uppercase-cl{
        text-transform: uppercase;
        font-size: 0.85em !important;
        color:#1F1F1F;
    }
    ::-webkit-input-placeholder {
        color: #686868 !important;
        font-size: 0.83em !important;
       }

       .btn-enviar{
           margin:0px !important;
           font-size: 0.8em !important;
       }

       .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        box-shadow: inset 0 0px 0 0 #f53d3d;
       }
       .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus)
        .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) 
        .item-inner{
            -webkit-box-shadow: 0 0px 0 0 transparent;
            box-shadow: inset 0 0px 0 0 #32db64;   
        }

        .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
            box-shadow: inset 0 0 0 0 transparent;
        }
}
