<ion-grid style="background-color:#00836D">
    <ion-row>
        <ion-col>
            <label style="font-size: 1.0em; font-weight: 500;color:#fff">Localidade</label>
        </ion-col>
    </ion-row>
    <form [formGroup]="alcanceForm" (ngSubmit)="SubmitForm()">
        <ion-row>
            <ion-col col-2>
                <label for="Estado" class="lbl_eselect">Estado</label>
                <ion-item class="select-model">
                    <ion-select  class="resize2" formControlName="estado"  >
                        <ion-option *ngFor="let estado of estados" (ionSelect)="selectEstado($event,estado)" [value]="estado.idEstado">
                            {{estado.sigla}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>

            <ion-col col-4>
                <label for="Estado" class="lbl_eselect">Cidade</label>
                <ion-item class="select-model">
                    <ion-select class="resize" 
                     formControlName="cidade" > 
                        <ion-option *ngFor="let cidade of cidades" (ionSelect)="selectCidade($event,cidade)"  [value]="cidade.idCidade">
                            {{cidade.nome}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-4>
                <label for="Estado" class="lbl_eselect">Bairro</label>
                <ion-item class="select-model">
                    <ion-select class="resize" formControlName="bairro">
                        <ion-option *ngFor="let bairro of bairros" (ionSelect)="selectBairro($event,bairro)" [value]="bairro.idBairro">
                            {{bairro.nome}}
                        </ion-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-2 margin-top text-center>
                <button ion-button icon-only 
                style="background:#fff; width:2.6em; height: 2.0em;"  [disabled]="!alcanceForm.valid">
                    <ion-icon name="compass" color="secondary"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </form>
</ion-grid>