alcance {

    .select-model{
        border-radius: 10px;
        font-size: 1.2rem;
        min-height: 0 !important;
        margin-top:6px;
        padding-left: 0px; 
        
    }
    .select-text {
        min-width: 60px;
        
    }
    .label-md {
     margin: 3px 10px 3px 10px !important;
    }

    .select-md .select-icon {
        height: 14px !important; 
    }

    .resize{
        max-width: 15% !important;
        padding: 5px 80px 5px 15px;
    }

    .resize2{
        max-width: 15% !important;
        padding: 5px 60px 5px 6px;

        .select-text{
            min-width: 20px !important;
        }
    }

    .lbl_eselect{
        font-size: 0.8em;
    }


}
