alcance {

    .select-model{
        border-radius: 10px;
        font-size: 1.0rem;
        min-height: 0 !important;
        margin-top:6px;
        padding-left: 0px; 
        color:#000;
        
    }
    .select-text {
        min-width: 64px;
        
    }

    .select-md .select-icon {
        height: 14px !important; 
    }

    .resize{
        max-width: 15% !important;
        padding: 4px 110px 0px 1px !important;
    }

/*     .resize.select-icon-inner{
        left: 12px !important;
    } */

    .resize2{
        max-width: 16% !important;
        padding: 4px 60px 0px 1px;

        .select-text{
            min-width: 18px !important;
        }
    }

    .resize .select-icon .select-icon-inner{
        left: 20px !important;
    }

    .lbl_eselect{
        font-size: 0.8em;
        font-weight: 400;
        color:#ededed
    }

    .hide{
        color: #fff;
    }

}
