alcance {

    .select-model{
        border-radius: 10px;
        font-size: 1.0rem;
        min-height: 0 !important;
        margin-top:6px;
        padding-left: 0px; 
        color:#000;
        
    }
    .select-text {
        min-width: 64px;
        
    }

    .select-md .select-icon {
        height: 14px !important; 
    }

    .resize{
        max-width: 15% !important;
        padding: 4px 95px 0px 5px!important;
    }

    .resize.select-icon-inner{
        left: 15px !important;
    }

    .resize2{
        max-width: 15% !important;
        padding: 4px 50px 0px 5px;

        .select-text{
            min-width: 20px !important;
        }
    }

    .resize .select-icon .select-icon-inner{
        left: 20px !important;
    }

    .lbl_eselect{
        font-size: 0.8em;
        font-weight: 400;
        color:#ededed
    }

    .hide{
        color: #fff;
    }

}
