popover-wizard-data-hora {

    .bg-transparent{
        background: transparent;
    }

    .size{
        font-size: 1.25rem !important;
        font-weight:500; 
        color:#1F1F1F;
        width: 95%;
        margin: -20px auto 0 auto !important;
        padding: 0 !important;
    }
    .uppercase-cl{
        text-transform: uppercase;
        font-size: 1.35rem !important;
        color:#000;
    }
    .select-md {
        padding: 15px 8px 0px 8px !important;
        width: 90%;
    }
    ion-select {
        max-width: 100% !important;
    }

    ::-webkit-input-placeholder {
        color: #333333 !important;
        font-size: 1.3rem !important;
       }

       .select-md .select-placeholder {
        color: #333333 !important;
        font-size: 1.3rem !important;
       }
}
