popover-wizard-data-hora {

    .bg-transparent{
        background: transparent;
    }

    .btn-enviar{
        margin:0px auto !important;
        font-size: 0.8em !important;
        color:#fff;
        width: 95%;
        
        
    }

    .size{
        font-size: 1.25rem !important;
        font-weight:500; 
        color:#1F1F1F;
        width: 95%;
        margin: -20px auto 0 auto !important;
        padding: 0 !important;
    }
    .uppercase-cl{
        text-transform: uppercase;
        font-size: 1.35rem !important;
        color:#000;
    }
    .select-md {
        padding: 15px 8px 0px 8px !important;
        width: 90%;
    }
    ion-select {
        max-width: 100% !important;
    }



      .select-md .select-placeholder {
        color: #333333 !important;
        font-size: 1.3rem !important;
        margin-left: -5px !important;
    }

    .select-md {
        padding: 15px 8px 0px 8px !important;
        width: 100% !important;
    }

    .text-input-md {
        margin-left: 1px !important;
        margin: 13px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
    }
}
