page-cadastro {


    .socialLogin {
        
        margin:30px auto;
        width: 70%;
      }
      .facebook{
        text-transform: initial;
        margin-top:90px;
        background-color: rgba(0, 165, 189,0.75);
        padding: 33px;
        border-radius: 10px;

      }

      .facebook:active, .facebook:focus, .facebook:hover{
        background-color: rgba(59, 89, 152,0.80) !important;
      }

      .google{
        text-transform: initial;
        background-color: rgba(209, 61, 53, 0.75) !important;
        padding: 40px;
        border-radius: 10px;
        font-size:1.4rem !important;
      }

      .google:active, .google:focus, .google:hover{ 
        background-color: rgba(255, 82, 79, 1);
      }
      .register{
        margin-top: 10px;
        text-transform: initial;
        background-color: rgba(0, 152, 128,0.75);
        padding: 40px;
        border-radius: 10px;
        font-size:1.4rem !important;
      }

      .overlay {
        top: 0;
        bottom:0;
        position: absolute;
        width: 100%;
        font-size: 1.5em;
        background: rgba(0, 0, 0, 0.65);
      }

      .span-cadastro{
        margin-top:5px;
        text-transform: uppercase; 
        float: right;
        font-size:1.2rem;
        color: #eee;
      }
      
      ion-icon{
        padding-right: 1.0em !important;
      }
      
}
