page-cadastro {


    .socialLogin {
        
        margin:0 auto;
        width: 70%;
      }
      .facebook{
        text-transform: initial;
        background-color: rgba(59, 89, 152,0.80);
        padding: 30px;
        border-radius: 10px;

      }
      .google{
        margin-top:100px;
        text-transform: initial;
        background-color: rgba(209, 61, 53, 0.80);
        padding: 30px;
        border-radius: 10px;
      }
      .register{
        text-transform: initial;
        background-color: rgba(2, 125, 110, 0.80);
        padding: 30px;
        border-radius: 10px;
      }
      .container-logo {
        display: inline-block;
        width: 100%;
        margin: 20px 0;
        img {
          max-width: 250px;
        }
      }
      .overlay {
        top: 0;
        bottom:0;
        position: absolute;
        width: 100%;
        font-size: 1.5em;
        background: rgba(0, 0, 0, 0.7);
      }

      .span-cadastro{
        margin-top:5px;
        font-variant:small-caps; 
        float: right;
        font-size: 12px;
        color: #eee;
      }
      
      ion-icon{
        padding-right: 1.5em !important;
      }
      
}
