<ion-content class=" gray-bg" style="background-color: #f8fff8;height: 100%">
  <div padding text-center style="padding-top:40px;">
    <img src="assets/icon/Logo-Sheap-04.svg" height="100" alt="">
  </div>
  <ion-grid>
    <ion-row style="margin:0 auto;">
      <strong><label style="font-size: 1.7rem; color:#464444; font-weight: 400">Complete seu cadastro</label></strong>
    </ion-row>
    <form novalidate [formGroup]="cadastroPopUpForm" (ngSubmit)="SubmitMaisInfoForm()">
      <ion-row margin-top>
        <ion-item class="bg-transparent size" class="size-select-item" style="padding-left: 15px!important;">
          <ion-select formControlName="sexo" placeholder="Sexo" class="size-select" >
            <ion-option *ngFor="let sexo of sexoList" value="{{sexo.value}}">{{sexo.nome}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item class="bg-transparent size">
          <ion-label floating>Digite seu CPF</ion-label>
          <ion-input type="tel" formControlName="cpf" [brmasker]="{mask:'000.000.000-00', len:14}" value=""
            maxlength="14"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col col-12 margin-top>
          <ion-item class="bg-transparent size-dt" (tap)="onBirthday('data')" >
            <ion-input placeholder="Data de nascimento" [(ngModel)]="dtNascimento" formControlName="data"></ion-input>
            <button clear item-right ion-button type="button" (click)="onBirthday()" >
              <ion-icon name="calendar"></ion-icon>
            </button>
          </ion-item>
        </ion-col>
      </ion-row>
      <button ion-button block style="width:93%; margin: 12px auto" class="register" color="secondary" margin-top
        [disabled]="!cadastroPopUpForm.valid">
        <ion-icon name="ios-create-outline" style="margin-right: 12px;">
        </ion-icon> Confirmar
      </button>
    </form>
  </ion-grid>
</ion-content>