page-compre-facil {

    .main-text{
        
        font-size: 0.65em;
        color: #1F1F1F;;
        letter-spacing: 0.027em;
    }
  
    .cl-data{
        font-size:0.60em !important; 
        text-align: end;
    }

    .sub-text { 
        margin-left: -5px;
        font-size: 0.47em;
        color: #000;

        span{
            color:#00836D;
        }
    }
    .colum-2{
        flex: 0 0 19%;
        width: 19%;
        margin-top:-20px;
        text-align: right !important;
    }
    .clearfix{
        clear:both
    }

    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #dedede;
    }

    .card-sheap-buy{
        margin-top: 80px;
        padding-bottom: 0 !important;
        padding: 8px 0px;
        border-radius: 10px;
        border: 1px solid rgb(196, 194, 194);
    }

    .pull-to-left{
        flex: 0 0 81%;
        width: 81%;
        margin-top:-20px;
        text-align: right !important;
    }

    .text-inline{
        display: inline-block;
        margin-left: 10px;
    }
}
