<ion-header>

  <ion-header>
    <ion-navbar color="secondary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title text-center>Compra Fácil</ion-title>
      <ion-buttons end>
        <button ion-button (click)="showInfoCompraFacil()" class="back-button-md">
          <ion-icon class="search-icon" name="ios-information-circle-outline"></ion-icon>
        </button>

      </ion-buttons>
    </ion-navbar>
  </ion-header>
</ion-header>

<ion-content class="cart">
  <ion-list class="list-full-border" style="margin-top:75px">
    <ion-card class="card-no-shadow card-sheap-buy" *ngFor="let mercado of mercadosSacola">
      <ion-grid style="padding:0 !important" >
        <ion-row>
          <ion-col col-12 class="pull-left" style="margin-top:-10px;">
            <p class="cl-data">Válido até: <span></span>{{getDataValidade(mercado) | dateFormat}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <ion-thumbnail>
              <img class="thumb-image-compra-sacola" [src]="mercado.sacolaMercado.imagemMercado" alt="" height="20" />
            </ion-thumbnail>
          </ion-col>

          <ion-col col-8 style="margin-top:10px;">
            <ion-row>
              <ion-col col-2 no-padding>
                <img src="assets/icon/prancheta.svg" height="15" alt="" style="margin-top: -2px">
                <img src="assets/icon/Calculadora-08.svg" height="15" alt="" style="margin-top: 8px">
                <img src="assets/imgs/Icon-entrega.svg" height="18" alt="" style="margin-top: 5px"
                  *ngIf="mercado.sacolaMercado.entrega ==='E'">
                <img src="assets/imgs/Icon-Retirada.svg" height="15" alt="" style="margin-top: 8px"
                  *ngIf="mercado.sacolaMercado.entrega ==='R'">
              </ion-col>
              <ion-col col-10 text-left style="margin-left:-8px;">
                <p ion-text class="main-text" style="margin-top:-3px;">Produtos: <span
                    style="color: #00836D">{{setQuantidade(mercado)}}</span></p>
                <p ion-text class="main-text" style="margin-top:8px;">Valor Total: <span
                    style="color: #00836D">{{setValorTotal(mercado) | currency:'BRL'}}</span> </p>
                <p ion-text class="main-text" style="margin-top:7px;" *ngIf="mercado.sacolaMercado.entrega ==='E'">
                  Entregue pelo supermercado</p>
                <p ion-text class="main-text" style="margin-top:7px;" *ngIf="mercado.sacolaMercado.entrega ==='R'">
                  Retirada no supermercado</p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top:5px; ">
          <ion-col col-12 text-right >
            <a (click)="onDetalhePedido(mercado)">
              <p class="main-text text-inline" style="color:#00836D">Detalhes</p>
            </a>
            <a (click)="onFormPedido(mercado)" *ngIf="mercado.sacolaMercado.entrega !== null">
              <p class="main-text text-inline" style="color:#00836D">Enviar Pedido</p>
            </a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
<!--Footer button-->
<ion-footer class="cart-footer">
  <ion-item style="max-height:20px;">
    <div item-left>
      <h2>Valor Total</h2>
    </div>
    <div class="pull-right">
      <span ion-text style="font-size:15px; color:#fff">{{valorTotal  | currency:'BRL'}}</span>
    </div>
  </ion-item>
</ion-footer>