page-cadastro-app {
    
    .bg-transparent{
        background: transparent;
    }

    .size{
        font-size: 0.85em !important;
        font-weight:500; 
    }

    .error{
        color:red;
        
    }
}
