page-cadastro-app {
    
    .bg-transparent{
        background: transparent;
    }

    .size{
        font-size: 0.9em !important;
        font-weight:500; 
        width: 95%;
        margin: 0 auto !important;
        padding: 0 !important;
    }

    .error{
        color:red;       
    }

    .size-select-item{
        background-color: transparent;
        width:100%;
        padding:10px !important;
        
        .size-select{
            min-width: 98%;
            padding-left: 5px;
            font-size: 0.9em;
        }
    }
}
