<ion-header no-border>

  <ion-navbar color="secondary">
    <ion-title text-center style="padding-right:40px;">
      Cadastro
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="gray-bg">

  <div class="login-content">
    <form novalidate [formGroup]="cadastroForm" (ngSubmit)="SubmitForm()">
      <div padding>
        <ion-item class="bg-transparent size">
          <ion-label floating>Digite seu nome</ion-label>
          <ion-input name="nome" formControlName="nome" autocomplete="off"></ion-input>
        </ion-item>
        <ion-row margin-top>
          <ion-item class="bg-transparent" class="size-select-item">

            <ion-select formControlName="sexo" placeholder="sexo" class="size-select">
              <ion-option *ngFor="let sexo of sexoList" value="{{sexo.value}}">{{sexo.nome}}</ion-option>
            </ion-select>
          </ion-item>

        </ion-row>
        <ion-item class="bg-transparent size">
          <ion-label>Data de Nascimento:</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" autocomplete="off" pickerFormat="MMMM-YYYY-DD"
            formControlName="dtNascimento"></ion-datetime>
        </ion-item>
        <ion-item class="bg-transparent size">
          <ion-label floating>Digite seu email</ion-label>
          <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="bg-transparent size">
          <ion-label floating>Digite sua senha</ion-label>
          <ion-input formControlName="senha" type="password"></ion-input>
        </ion-item>
        <ion-item class="bg-transparent size">
          <ion-label floating>Confirme sua senha</ion-label>
          <ion-input type="password" formControlName="confirmSenha"></ion-input>
        </ion-item>
        <ion-item class="bg-transparent size" *ngIf="cadastroForm.hasError('senhaNaoCompara')" no-lines>
          <span class="error">Senhas não são iguais</span>
        </ion-item>

        <button ion-button block style="width:95%; margin: 12px auto" class="register" color="secondary" margin-top
          [disabled]="!cadastroForm.valid">
          <ion-icon name="ios-create-outline" style="margin-right: 12px;">
          </ion-icon> Cadastrar
        </button>
      </div>

    </form>
  </div>


</ion-content>