
<ion-content class="gray-bg">
  
  <div class="login-content">
      <!-- Logo -->
      <div padding text-center style="padding-top:40px;">
        <img src="assets/imgs/logomarca.svg"  height="120" alt="">
      </div>
      <form novalidate [formGroup]="cadastroForm" (ngSubmit)="SubmitForm()">
        <div padding>
          <ion-item class="bg-transparent size" >
            <ion-label floating>Digite seu nome</ion-label>
            <ion-input name="nome" formControlName="nome" autocomplete="off"></ion-input>
          </ion-item>
          <ion-row  radio-group formControlName="sexo">  
              <ion-item class="bg-transparent" no-lines >
                  <label for="sexo" class="size" >Sexo:</label>
              </ion-item>
            <ion-col col-6 *ngFor="let sexo of sexoList">
              <ion-item class="bg-transparent size" style="margin-top:-15px;" no-lines  >
                <ion-label>{{sexo.nome}}</ion-label>
                <ion-radio value="{{sexo.value}}"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item class="bg-transparent size" >
              <ion-label>Data de Nascimento:</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY"
                            autocomplete="off"
                            pickerFormat="MMMM-YYYY-DD" formControlName="dtNascimento"></ion-datetime>
          </ion-item>
          <ion-item class="bg-transparent size" >
            <ion-label  floating>Digite seu email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <ion-item class="bg-transparent size" >
            <ion-label   floating>Digite sua senha</ion-label>
            <ion-input  formControlName="senha" type="password"></ion-input>
          </ion-item>
          <ion-item class="bg-transparent size" >
            <ion-label  floating >Confirme sua senha</ion-label>
            <ion-input type="password" formControlName="confirmSenha" ></ion-input>
          </ion-item>
          <ion-item class="bg-transparent size" *ngIf="cadastroForm.hasError('senhaNaoCompara')" no-lines>
              <span  class="error" >Senhas não são iguais</span>
          </ion-item>
          
          <button ion-button block style="width:100%; float:center"
           class="register" color="secondary" margin-top [disabled]="!cadastroForm.valid">
            <ion-icon  name="ios-create-outline"  style="margin-right: 12px;">
            </ion-icon> Cadastrar
          </button>
        </div>
        
    </form>
  </div>
  
  
</ion-content>